/* the styles for the elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Clearfix */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

html {
  height: 100%;
  background-color: #191919;
}
img {
  width: 100%;
}
#nav_menu #current {
  color: orange;
  text-shadow: 2px 2px 3px black;
}
.logo {
  height: 96px;
  width: 120px;
  padding: 10px 0 10px 25px;
  float: left;
}
header h3 {
  font-size: 200%;
  color: white;
  padding: 1em;
}
main h2 {
}

/* the styles for the navigation menu */
#nav_menu {
  clear: both;
}
#nav_menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
}
#nav_menu ul li {
  float: left;
  width: 25%;
}
#nav_menu ul li a {
  display: block;
  text-align: center;
  padding: 1em 0;
  text-decoration: none;
  font-variant: small-caps;
  font-size: 120%;
  background-color: rgb(173, 173, 173);
  color: white;
  font-weight: bold;
  transition: color 0.25s;
}
#nav_menu a:hover {
  text-decoration: underline;
  color: black;
}
#nav_menu #current:hover {
  color: white;
}
#nav_menu ul ul {
  display: none;
  position: absolute;
  top: 100%;
  width: 100%;
}
#nav_menu ul ul li a {
  text-align: left;
  padding: 0.5em;
}
#nav_menu ul ul li {
  float: none;
}
#nav_menu ul li:hover > ul {
  display: block;
}
#nav_menu > ul::after {
  content: "";
  clear: both;
  display: block;
}

/* the styles for the aside */
aside {
  width: 25%;
  float: right;
  background-color: lightyellow;
  border-radius: 5px;
  box-shadow: 3px 3px 7px gray;
  margin: 0 0 20px 1em;
  padding: 0.75em;
  font-weight: bold;
}
aside p {
  padding-bottom: 1.5em;
}

#bottombuffer {
  height: 100px;
  padding-bottom: 100px;
}

/* the styles for the footer */
footer {
  background-color: black;
  clear: both;
  border-top: 3px solid #000000;
  bottom: 0;
  width: 100%;
}
footer p {
  text-align: center;
  color: white;
  font-size: 80%;
  font-variant: small-caps;
  padding: 2em 0;
}
* {
  box-sizing: border-box;
}
body img:hover {
  filter: grayscale(100%);
  transform: scale(1.05);
}
body {
  margin: auto;
  font-family: Arial;
}
main {
  background-color: grey;
  margin: auto;
  width: 80%;
  height: 2500px;
  text-align: center;
}
#captions {
  transition: color 0.5s;
}
#videos {
  margin: 2.5%;
  box-shadow: 2px 2px 5px black;
}
.speedboat:hover + .caption1 {
  color: orange;
}
.ricky:hover + .caption2 {
  color: orange;
}
.unlocked:hover + .caption3 {
  color: orange;
}
.header {
  text-align: center;
  padding: 32px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin: 8px;
  vertical-align: middle;
  transition: filter 0.25s;
  transition: transform 0.35s;
}
#speedboat {
  margin: ;
}
/* Responsive layout - makes a two column-layout instead of four columns */
@media (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

/* hide the slicknav in large-screen view */
.slicknav_menu {
  display: none;
}

/* tablet portrait to standard 960 */
@media only screen and (max-width: 959px) {
  body,
  aside {
    box-shadow: none;
    border-radius: 0;
  }
  footer {
    border-radius: 0;
  }
}

/* mobile landscape to tablet portrait */
@media only screen and (max-width: 767px) {
  header img {
    float: none;
  }
  header {
    text-align: center;
  }
  header h2,
  header h3 {
    padding: 0 0 0.25em;
  }

  section,
  aside {
    float: none;
    width: 99%;
    margin: 0 auto;
    padding: 0.5em;
  }

  /* hide the navigation menu */
  #nav_menu {
    display: none;
  }

  /* and replace it with the slicknav menu */
  .slicknav_menu {
    display: block;
    text-align: left !important;
    background-color: #228b22 !important;
  }
}

/* mobile portrait to mobile landscape */
@media only screen and (max-width: 479px) {
  body {
    font-size: 90%;
  }
}
